<ion-view view-title="Piano Temático: Mortal Kombat II">
  <ion-content class="padding2">
	</br>
	<img src="img/LiuKang.png" ng-click="liuKang()" width="68" height="68"></img>
	<img src="img/KungLao.png" ng-click="kungLao()" width="68" height="68"></img>
	<img src="img/JohnnyCage.png" ng-click="johhnyCage()" width="68" height="68"></img>
	<img src="img/Reptile.png" ng-click="reptile()" width="68" height="68"></img></br>	
	<img src="img/SubZero.png" ng-click="subZero()" width="68" height="68"></img></td>
	<img src="img/ShangTsung.png" ng-click="shangTsung()" width="68" height="68"></img>
	<img src="img/Kitana.png" ng-click="kitana()" width="68" height="68"></img>
	<img src="img/Jax.png" ng-click="jax()" width="68" height="68"></img></br>
	<img src="img/Mileena.png" ng-click="mileena()" width="68" height="68"></img>
	<img src="img/Baraka.png" ng-click="baraka()" width="68" height="68"></img>
	<img src="img/Scorpion.png" ng-click="scorpion()" width="68" height="68"></img>
	<img src="img/Raiden.png" ng-click="raiden()" width="68" height="68"></img>
    <br><br><br><br><br><br></br>	
    <img src="img/Choose.png" width="300" height="18"></img> 		
  </ion-content>
</ion-view>