<ion-view view-title="Toque las Imágenes!!">
  <ion-content class="padding2">
	<a><img src="img/LiuKang.png" ng-click="liuKang()" width="70" height="70"></img></a>
	<a><img src="img/KungLao.png" ng-click="kungLao()" width="70" height="70"></img></a>
	<a><img src="img/JohnnyCage.png" ng-click="johhnyCage()" width="70" height="70"></img></a>
	<a><img src="img/Reptile.png" ng-click="reptile()" width="70" height="70"></img></a></br>
	<a><img src="img/SubZero.png" ng-click="subZero()" width="70" height="70"></img></a>
	<a><img src="img/ShangTsung.png" ng-click="shangTsung()" width="70" height="70"></img></a>
	<a><img src="img/Kitana.png" ng-click="kitana()" width="70" height="70"></img></a>
	<a><img src="img/Jax.png" ng-click="jax()" width="70" height="70"></img></a></br>
	<a><img src="img/Mileena.png" ng-click="mileena()" width="70" height="70"></img></a>
	<a><img src="img/Baraka.png" ng-click="baraka()" width="70" height="70"></img></a>
	<a><img src="img/Scorpion.png" ng-click="scorpion()" width="70" height="70"></img></a>
	<a><img src="img/Raiden.png" ng-click="raiden()" width="70" height="70"></img></a>
	
  </ion-content>
</ion-view>